{% extends "base.html" %}

{% block title %}Учебный блог Django-Hexlet (Статьи){% endblock %}

{% block content %}
    <form action="{% url 'articles_create' %}" method="get">
        <input type="submit" value="Создать новую статью">
    </form>
    <h1 align="center">Список статей:</h1>
    <ul>
    {% for article in articles %}
        <li>
            <h3>{{ article.name }} ({{ article.timestamp }})</h3>
            <a href="{% url 'articles_view' id=article.id %}">Читать</a>
            <a href="{% url 'articles_update' id=article.id %}">Редактировать</a>
            <a href="{% url 'articles_delete' id=article.id %}">Удалить</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}