<!-- hexlet_django_blog/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Эксперименты с Django на Хекслете{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <a class="nav-link" href="/">Главная</a>
        <a class="nav-link" href="/articles/">Статьи</a>
        <a class="nav-link" href="/about/">О блоге</a>
        <a class="nav-link" href="/admin/">Администратор</a>
        {% block sidebar %}
        {% endblock %}
        </ul>
    </div>
</nav>
<div id="content">
    <hr>
    {% block content %}{% endblock %}
    <hr>
</div>
</body>
</html>