<!-- hexlet_django_blog/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Эксперименты с Django на Хекслете{% endblock %}</title>
</head>
<body>
    <nav align="center">
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'articles_index' %}">Статьи</a>
        <a href="{% url 'about' %}">О блоге</a>
        <a href="/admin/">!ADMIN!</a>
    </nav>
    <div id="content">
        <hr>
        {% block content %}{% endblock %}
        <hr>
    </div>
</body>
</html>